@charset "utf-8";

/* ================================================== */
/* INDEX DE INICIO A FIN -- BEGIN -- */
/* ================================================== */

@font-face {
    font-family: Averta;
    src: url(../fonts/Averta/Averta-Regular.otf);
}
@font-face {
    font-family: QuatroSlab;
    src: url(../fonts/Quatro_Slab/QuatroSlab_Regular.otf);
}
html * {
    font-family: Averta;
}
.font-secundaria{
    font-family: Quatro Slab;
}

.title-table {
	text-align: center;
	font-size: 1.2em;
	color: white;
	font-weight: bold;
}
.title-table-secundario {
	text-align: justify;
	font-size: 1.2em;
	color: black;
	font-weight: bold;
    padding: 20px 15% !important;
}

